body{
    background: linear-gradient(#a42e6e, #783057);
}
body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: rgb(236, 210, 162);        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(106, 106, 143);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(126, 126, 126);  /* creates padding around scroll thumb */
  }